html {
    background: #FFFFFF;
    }
body {
    background: #0AA085;
    box-shadow: 0 0 20px rgba(3, 4, 6, 4.06);
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 1.9;
    margin: 0 auto;
    max-width: 800px;
    padding: 0px 200px 35px 200px;
}
header {        
    display:block;
    background:#0AA085;
    padding:15px 15px;
}
aside {
    float: right;
    border: 2px ;
    width: 50%;
    height: 50%;
}
article img {
  float: left;
  width: 15%;
}
strong{
    color: black;
}
